.font-24{
    font-size: 24px;
}
.sidebar-ul li{
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.blue-color{
    color: rgb(26, 26, 133);
}
.blue-bg{
    background-color: rgb(26, 26, 133);
    
}
.sidebar-ul li a{
    color: aliceblue;
}
.vertical-center{
    vertical-align: super;
}
.font-22{
    font-size: 22px;
}
.scale:hover{
    transform: scale(1.1)translateY(-10px);
    transition: 0.3s;
}
.font-46{
    font-size: 46px;
}
.font-18{
    font-size: 18px;
}